/* This CSS is used to adjust small custom styling on top of Bootstrap */
body {
  font-family: Helvetica, Arial, sans-serif;
}

.section {
  background-color: #f8f9fa;
  padding: 10px 15px;
  border-radius: 5px;
  list-style-type: square;
}

#education {
  color: green;
}
